 {% load static %}
 <!-- footer starts -->
 <div class="row bg-light p-3 border">
    <div class="col-md-6 text-center">
        <h4 class="text-success">Address</h4>
        <p>
            247 Bedford Avenue <br>
            Brooklyn, NY 11211 <br>
            (929) 397-2740
        </p>
        <p>
            Email : contactapple@icloud.com <br> 
            Phone : 000800 040 1966
        </p>
    </div>

    <div class="col-md-6 text-center">
        <h4 class="text-success">Connect Us</h4>
        <a href="https://facebook.com/?lang=en"><i class="bi bi-facebook"></i></a>&nbsp;&nbsp;
        <a href="https://linkedin.com/?lang=en"><i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;   
        <a href="https://instagram.com/?lang=en"><i class="bi bi-instagram"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="bi bi-github"></i></a>
    </div>
  </div>
  <!-- footer Ends -->

</div>
</div>



<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/pooper.min.js' %}"></script>
</body>
</html>