{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <title>register</title>
</head>
<body>
    <div class="container">
        <br><br>
        <div class="row mt-3" >
            <div class="col-md-5  mx-auto shadow p-3">
                <h3>USER | <span style="color: green;">REGISTER</span></h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="Input1" class="form-label"><strong>USERNAME</strong></label>
                        <input type="text" class="form-control" id="Input1" name="uname" placeholder="Username" >
                    </div>
                    <div class="mb-3">
                        <label for="Input2" class="form-label"><strong>PASSWORD</strong></label>
                        <input type="password" class="form-control" id="Input2" name="upass" placeholder="Enter Password">
                    </div>
                    <div class="mb-3">
                        <label for="Input3" class="form-label"><strong>CONFIRM PASSWORD</strong></label>
                        <input type="password" class="form-control" id="Input3" name="ucpass" placeholder="Enter Password Again">
                    </div>
                    <div class="mb-4">
                        <label for="Input4" class="form-label"><strong>EMAIL</strong></label>
                        <input type="email" class="form-control" id="Input4" name="uemail" placeholder="name@example.com">
                    </div>
                    <div class="md-3">
                        <input type="submit" value="REGISTER" class="btn btn-success">
                        Already Register? <a href="/authapp/login" class="text-decoration-none"><strong class="link-success ">LOGIN</strong></a>
                    </div>
                </form>
            {% if errmsg %}
            <!-- <div class="alert alert-danger mt-3" role="alert">
                {{errmsg}}
            </div> -->
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <strong>{{errmsg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            {% if success %}
            <!-- <div class="alert alert-success mt-3" role="alert">
                {{success}}
            </div> -->
            <div class="alert alert-success alert-dismissible fade show mt-3 container-fluid" role="alert">
                <strong>{{success}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
    <!-- {% static '' %} -->




    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>